site:
  title: Documentation
  url: https://xenodochial-spence-280948.netlify.app
  start_page: cloud::overview.adoc
  robots: disallow
  keys:
    google_analytics: 'GTM-MQ59XD6'
    docsearch_id: 'QK2EAH8GB0'
    docsearch_api: 'ef7bd9485eafbd75d6e8425949eda1f5'
    docsearch_index: 'prod_hazelcast_docs'
content:
  sources:
    - url: .
      branches: HEAD
      start_paths: [ ./docs, ./tutorials ]
ui:
  bundle:
    url: https://github.com/hazelcast/hazelcast-docs-ui/releases/latest/download/ui-bundle.zip #../hazelcast-docs-ui/build/ui-bundle.zip
    snapshot: true
  supplemental_files:
    - path: netlify.toml
      contents: >
        [[headers]]
          for = "/api/*"
          [headers.values]
            Access-Control-Allow-Origin = "*"
    - path: ui.yml
      contents: |
        static_files: [ netlify.toml ]

asciidoc:
  attributes:
    page-pagination: true
    idprefix: ''
    idseparator: '-'
    hazelcast-cloud: Cloud
    page-cloud-console: https://cloud.hazelcast.com/
    page-cloud-signup: https://cloud.hazelcast.com/sign-up
  extensions:
    - ./lib/tabs-block.js
    - asciidoctor-kroki
