# This workflow triggers a build of the production documentation site
# if a commit is made to the listed branches

name: Build production site

on:
  push:
    branches: [ main ]

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger build
      run: curl -d {} https://api.netlify.com/build_hooks/6050a487dfdfc0aaac6ff8c1
